.banner {
  display: flex;
  flex-direction: column;
  background-image: url('../assets/passistas.png');
  background-size: cover;
  height: 50vh;
  color: whitesmoke;
  justify-content: center;
}

.slogan {
  flex-direction: column;
  color:rgb(245, 245, 245);
  margin-left: 60px;
  font-size: 2rem;
  font-family: Bebas Neue,Regular;
  width: 35rem;
}

.but {
  margin-left: 60px;
  border-radius: 10px;
  background-color: transparent;
  border: solid #65CB81;
  border-width: thin;
  color: whitesmoke;
}

button:hover {
  background: #65CB81 ;
}
strong {
  color: #65CB81;
}

p {
  margin-left: 60px;
  width: 35rem;
}
