.header {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 0;
  background: #071509;
  color: whitesmoke;
  align-items: center;
}

.header img {
  width: 64px;
  height: 27px;
  align-items: center;
  margin-left: 60px;
  margin-right: 60px;

}


h1 {
  font-size: 1rem;
  align-items: center;
  font-family: 'PT Sans', sans-serif;
  color: #FAFAFA;
  opacity: 0.9;

}

.side {
  display: flex;
  justify-content: space-around;
  margin-right: 30px;
}


.side img {
  width: 20px;
  height: 16px;
}
